# Getting data using yfinance

Here is an exampe how to get data using yfinance python library. (https://pypi.org/project/yfinance/)

In [1]:
import yfinance as yf # possible alternative http://theautomatic.net/yahoo_fin-documentation/
import datetime as dt
import numpy as np
import tensorflow as tf
import time
import pandas as pd
from pandas_datareader import data as pdr

yf.pdr_override()

Save data to dataframe

In [2]:
 df = pdr.get_data_yahoo("BTC-USD", period="7d", interval="1m")

[*********************100%***********************]  1 of 1 completed

In [3]:
df.shape

(8783, 6)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8783 entries, 2020-11-28 00:00:00+00:00 to 2020-12-04 11:16:02+00:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       8783 non-null   float64
 1   High       8783 non-null   float64
 2   Low        8783 non-null   float64
 3   Close      8783 non-null   float64
 4   Adj Close  8783 non-null   float64
 5   Volume     8783 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 480.3 KB

In [5]:
df.head(10)

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2020-11-28 00:00:00+00:00,17112.933594,17112.933594,17112.933594,17112.933594,17112.933594,0
2020-11-28 00:01:00+00:00,17134.396484,17134.396484,17134.396484,17134.396484,17134.396484,0
2020-11-28 00:02:00+00:00,17137.853516,17137.853516,17137.853516,17137.853516,17137.853516,39432192
2020-11-28 00:03:00+00:00,17131.585938,17131.585938,17131.585938,17131.585938,17131.585938,10248192
2020-11-28 00:04:00+00:00,17115.552734,17115.552734,17115.552734,17115.552734,17115.552734,0
2020-11-28 00:05:00+00:00,17111.421875,17111.421875,17111.421875,17111.421875,17111.421875,0
2020-11-28 00:06:00+00:00,17111.351562,17111.351562,17111.351562,17111.351562,17111.351562,0
2020-11-28 00:07:00+00:00,17100.339844,17100.339844,17100.339844,17100.339844,17100.339844,42700800
2020-11-28 00:08:00+00:00,17100.080078,17100.080078,17100.080078,17100.080078,17100.080078,0
2020-11-28 00:09:00+00:00,17097.683594,17097.683594,17097.683594,17097.683594,17097.683594,0

In [6]:
df[["Open"]]

                                   Open
Datetime
2020-11-28 00:00:00+00:00  17112.933594
2020-11-28 00:01:00+00:00  17134.396484
2020-11-28 00:02:00+00:00  17137.853516
2020-11-28 00:03:00+00:00  17131.585938
2020-11-28 00:04:00+00:00  17115.552734
...                                 ...
2020-12-04 11:12:00+00:00  19050.150391
2020-12-04 11:13:00+00:00  19046.757812
2020-12-04 11:14:00+00:00  19047.859375
2020-12-04 11:15:00+00:00  19051.314453
2020-12-04 11:16:02+00:00  19070.630859

[8783 rows x 1 columns]

### Get data for list of pairs

In [7]:
ratios = ["BTC-USD","LTC-USD","ETH-USD","BCH-USD"]

def getData(ratios,period,interval):

    df_to_return = pd.DataFrame()

    for ratio in ratios:

        df = pdr.get_data_yahoo(ratio,period=period,interval= interval)
        df.rename(columns={"Close": f"{ratio}_close"}, inplace=True)

        df = df[[f"{ratio}_close"]]
        
        if len(df_to_return) == 0:

            df_to_return = df
        else:
            df_to_return = df_to_return.join(df)
    
    
    return df_to_return        
    
    
mydf = getData(ratios,"7d","1m")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [8]:
mydf.head(10)

,BTC-USD_close,LTC-USD_close,ETH-USD_close,BCH-USD_close
Datetime,,,,
2020-11-28 00:00:00+00:00,17112.933594,69.131828,517.597351,NaN
2020-11-28 00:01:00+00:00,17134.396484,69.234230,518.914673,265.426392
2020-11-28 00:02:00+00:00,17137.853516,69.233238,519.019958,265.477417
2020-11-28 00:03:00+00:00,17131.585938,69.217033,518.710938,NaN
2020-11-28 00:04:00+00:00,17115.552734,69.222855,518.137695,265.233459
2020-11-28 00:05:00+00:00,17111.421875,69.190521,517.842163,265.132324
2020-11-28 00:06:00+00:00,17111.351562,69.183517,517.911255,265.117981
2020-11-28 00:07:00+00:00,17100.339844,68.894203,516.644348,264.463135
2020-11-28 00:08:00+00:00,17100.080078,68.881447,516.602356,264.424103
2020-11-28 00:09:00+00:00,17097.683594,68.854698,516.545776,264.403992

Save data to specific file

In [9]:
time = dt.datetime.now().strftime("%Y_%m_%d_%H_%M_%S")
print(time)
mydf.to_csv(f'crypto_data\\{time}.csv')

2020_12_04_12_18_21